getboot:
  mq:
    enabled: true
    type: rocketmq                     # rocketmq / kafka
    trace:
      enabled: true
      header-name: TRACE_ID
      mdc-key: traceId
    rocketmq:
      enabled: true
      name-server: 127.0.0.1:9876
      producer:
        group: demo-producer-group
        send-message-timeout: 3000
    kafka:
      enabled: false
      bootstrap-servers: 127.0.0.1:9092
      producer:
        key-serializer: org.apache.kafka.common.serialization.StringSerializer
        value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
