getboot:
  lock:
    enabled: true
    type: redis
    redis:
      enabled: true
      key-prefix: distributed_lock
    database:
      enabled: false
      key-prefix: distributed_lock
      table-name: distributed_lock
      lease-ms: 30000
      retry-interval-ms: 100
      initialize-schema: false
    zookeeper:
      enabled: false
      key-prefix: distributed_lock
      base-path: /getboot/lock
  coordination:
    redisson:
      file: classpath:redisson/redisson.yaml
    zookeeper:
      enabled: false
      connect-string: 127.0.0.1:2181
      namespace: getboot
      session-timeout-ms: 60000
      connection-timeout-ms: 15000
      retry:
        base-sleep-time-ms: 1000
        max-retries: 3
        max-sleep-ms: 8000
